body {
  margin: 0;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.book-square {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-width: 6px;
    border-bottom: #e8e8e8;
    border-top: #e8e8e8;
    border-right: #e8e8e8;
    border-left: #e8e8e8;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-radius: 10px;
    border-style: solid;
    width: 200px;
    padding-top: 20px;

}

#library {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 300px 300px 300px 300px;
    gap: 20px;
    padding: 20px;
}

.toolbar {
    display: flex;
    flex-direction: column;
    background-color: #210d25;
}

.title {
    color: #ffffff;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    font-size: 40px;
}

.titlebar {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#add {
    height: 40px;
    width: 90px;
    font-weight: bold;
    border-radius: 18px;
    background-color: #ffffff;

}

.book-title {
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.page-count {
    padding-bottom: 25px;
}